target/
.rustc_info.json

Cargo.lock
**/Cargo.lock

*.rs.bk
*.pdb
*.so
*.dll
*.exe

/target/criterion/

flamegraph.svg
profile.json
*.profraw

*.ll
*.o
*.bc
*.s

*.nrl
*.nrp

.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

.DS_Store

Thumbs.db

*.log
.env
.claude/

idea/*